html, body {
  background-color: #90B98F;
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: 'MonumentGRegular';
  src: url(../fonts/MonumentGrotesk-Regular.woff) format("woff"), url(../fonts/MonumentGrotesk-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MonumentGRegularItalic';
  src: url(../fonts/MonumentGrotesk-RegularItalic.woff) format("woff"), url(../fonts/MonumentGrotesk-RegularItalic.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MonumentGBold';
  src: url(../fonts/MonumentGrotesk-Bold.woff) format("woff"), url(../fonts/MonumentGrotesk-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MonumentGSemiMono';
  src: url(../fonts/MonumentGrotesk-Semi-Mono.woff) format("woff"), url(../fonts/MonumentGrotesk-Semi-Mono.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

.fontRegular {
  font-family: 'MonumentGRegular';
}

.fontMono {
  font-family: 'MonumentGSemiMono';
}

.page_bck {
  z-index: 1;
  position: fixed;
  background-color: #F4F4EA;
  width: 100%;
  height: 100%;
  border-radius: 0 0 24px 24px;
  bottom: 3.5rem;
}

#app_logo {
  height: 1.5rem;
  top: 1.5rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: relative;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  z-index: 10;
}

#app_logo:hover {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.gh_menu {
  background-color: #00473C;
  position: fixed;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5rem;
  overflow: hidden;
  bottom: 0;
  width: 100%;
}

.menu_icon {
  height: 2.5rem;
}

/* */
.page_camera {
  margin: 3rem 24px 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#camera_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

#image_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid  #90B98F;
  border-radius: 20px;
  height: 240px;
  width: 200px;
}

#imgpreview {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

#add_btn {
  font-family: MonumentGSemiMono;
  color: #377E59;
  font-size: 1rem;
  background-color: #F4F4EA;
  padding: .4rem .8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2.5rem;
  border: #377E59 solid 2px;
  -webkit-transition: 1s;
  transition: 1s;
}

#myTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 4rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 4rem;
}

.plant_card {
  height: 15rem;
  width: 17rem;
  background-color: #A9C1A9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  padding: 2rem;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plant_card_img {
  height: 9rem;
  width: 9rem;
  border-radius: 2px;
}

.plant_card_img img {
  height: 9rem;
  width: 9rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

#search_btn {
  font-family: MonumentGSemiMono;
  color: #377E59;
  font-size: 1rem;
  background-color: #F4F4EA;
  padding: .4rem .8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2.5rem;
  border: #377E59 solid 2px;
  -webkit-transition: 1s;
  transition: 1s;
}

input[type=file]::file-selector-button {
  font-family: MonumentGSemiMono;
  color: #ECC82A;
  font-size: 1rem;
  background-color: #00473C;
  border-radius: 2.5rem;
  border: #377E59 solid 2px;
  padding: .4rem .8rem;
  -webkit-transition: 1s;
  transition: 1s;
}

/* */
.page_search {
  z-index: 2;
  display: none;
  position: relative;
}

/* */
.page_like {
  z-index: 2;
  display: none;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#fav_card {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #A9C1A9;
  border-radius: 2.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2REM;
  margin: 2rem 1rem 1rem;
}

#plant_card_img_fav {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

#plant_card_img_fav:hover {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

#info_fav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 1rem;
}

/* */
.page_playlist {
  z-index: 2;
  display: none;
  position: relative;
  background-color: #F4F4EA;
}

iframe {
  height: 100vh;
  position: inherit;
  mix-blend-mode: difference;
  margin-top: 2rem;
}

/* {
 *  margin: 0;
 *  padding: 0;
 *} */
#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: -webkit-gradient(linear, left top, right top, from(#009999), to(#5f1782));
  background-image: linear-gradient(to right, #009999, #5f1782);
}

.jumbotron {
  position: sticks;
  -ms-flex-line-pack: left;
      align-content: left;
  padding: 5%;
}

#miniquiz, .container, #picture {
  text-align: center;
}

#lightspectrum .container {
  padding: 10%;
}

.row {
  text-align: left;
}

.row #information1 {
  text-align: left;
}

@media screen and (min-width: 510px) and (max-width: 769px) {
  body {
    background-color: #009999;
  }
  .page_camera {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 770px) {
  body {
    background-color: #ff7530;
  }
}
/*# sourceMappingURL=styles.css.map */